@import url('http://fonts.googleapis.com/css?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --main-color: slategray;
    --second-color: #9bc3ff;
    --hover-color: #6c8094;
    --shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    --color-border: #94a0ac;
    --max-width: 650px;
    --invert-main-collor: #8f7f6f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--main-color);
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 0.5em;
    color: var(--main-color);
    font-size: 2em;
    width: 90%;
    margin: 0 auto 20px;
}

.links {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: var(--max-width);
}
.links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}
.links a:hover {
    color: var(--second-color);
}

.wrapper {
    background: white;
    width: var(--max-width);
    padding: 28px 0;
    margin: auto;
}
.info {
    display: flex;
    flex-direction: column;
}

.task-input {
    height: 52px;
    padding: 0 25px;
    position: relative;
}
.task-input img {
    position: absolute;
    top: 50%;
    transform: translate(17px, -50%)
}
.task-input input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid var(--color-border);
    padding: 0 20px 0 53px;
    transition: border 0.3s;
}
.task-input input:focus {
    border: 1px solid #596673;
}
.task-input input::placeholder {
    color: var(--color-border);
}

.controls, li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.controls {
    padding: 18px 25px;
    border-bottom: 1px solid var(--color-border);
    
}
.controls .clear-btn {
    outline: none;
    border: none;
    color: #fff;
    padding: 7px 13px;
    background: var(--main-color);
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
}

.filters {
    display: flex;
    color: var(--main-color);
}
.filters span {
    cursor: pointer;
    margin: 0 8px;
    font-size: 17px;
    transition: color 0.5s ease;
}
.filters span:first-child {
    margin-left: 0;
}
.filters span.active {
    color: var(--invert-main-collor);
    border-bottom: 1px solid var(--invert-main-collor);
}

.task-box {
    margin: 20px 25px;
}
.task-box .task {
    list-style: none;
    font-size: 17px;
    margin-bottom: 18px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--color-border);
}
.task-box .task:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}
.task label {
    display: flex;
}
.task label p::first-letter {
    text-transform: uppercase;
}
.task label p {
    padding-right: 20px;
}
.task label p.checked {
    text-decoration: line-through;
}
.task label input {
    margin-top: 6px;
    margin-right: 12px;   
}
.task .settings {
    cursor: pointer;
    position: relative;
}
.settings .task-menu {
    position: absolute;
    padding: 5px 0;
    background: #fff;
    box-shadow: var(--shadow);
    z-index: 2;
    right: -5px;
    bottom: -65px;
    transform: scale(0);
    transform-origin: top right;
    transition: transform 0.2s ease;
    width: 110px;
}
.settings .task-menu.show {
    transform: scale(1);
}
.task-menu li {
    height: 25px;
    font-size: 16px;
    padding: 17px 15px;
    margin-bottom: 2px;
    justify-content: flex-start;
}
.task-menu li:last-child {
    margin-bottom: 0;
}
.task-menu li:hover {
    background: var(--hover-color);
}
.task-menu li i {
    padding-right: 8px;
}

footer {
    font-size: 14px;
    text-align: center;
    margin: 20px auto 0;
    color: white;
    width: var(--max-width);
    display: flex;
    justify-content: space-between;
}
footer a {
    color: inherit;
}

@media screen and (max-width: 768px) {
    .wrapper, .links, footer {
        width: 90%;
    }
    .filters {
        display: flex;
        flex-direction: column;
    }
    .filters span:first-child {
        margin-left: 8px;
    }
}